.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  color: black;
  position: fixed;
  z-index: 100;
}

.btn-action-primary {
  background-color: #4C00A4!important;
  color: whitesmoke !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stars-card {
  background-image: linear-gradient(to right, #0F76A6, #2E9D99);
}

.forks-card {
  background-image: linear-gradient(to right, #511B75, #973490);
}

.contributors-card {
  background-image: linear-gradient(to right, #511B75, #973490);
}

.card {
  min-height: 50px;
}

.card-icon {
  position: absolute;
  bottom: -2.5em;
  right: -2.5em;
  opacity: .3;
}

.icon-text {
  color: white !important;
  font-size: 12em !important;
  overflow: hidden !important;
}