.navbar{
  color: black;
  position: fixed;
  z-index: 100;
}

.btn-action-primary {
  background-color: #4C00A4!important;
  color: whitesmoke !important;
}

.stars-card {
  background-image: linear-gradient(to right, #0F76A6, #2E9D99);
}

.forks-card {
  background-image: linear-gradient(to right, #511B75, #973490);
}

.contributors-card {
  background-image: linear-gradient(to right, #511B75, #973490);
}

.card-icon {
  position: absolute;
  bottom: -2.5em;
  right: -2.5em;
  opacity: .3;
}

.icon-text {
  color: white !important;
  font-size: 10em !important;
  overflow: hidden !important;
}

.card-header {
  font-weight: bold;
  color: #6c757d;
}